:root.light {
	--background-color: #eeeeee;
	--secondary-color: #dddddd;
	--text-primary-color: #111111;
	--text-secondary-color: #ffffff;
	--accent-color: #1A2130;
	--chat-sent-color: #ffa096;
	--chat-received-color: #AAD7D9;
}

:root.dark {
	--background-color: #222222;
	--secondary-color: #333333;
	--text-primary-color: #ffffff;
	--text-secondary-color: #111111;
	--accent-color: #83B4FF;
	--chat-sent-color: #e6665c;
	--chat-received-color: #6DB9EF;
}
